/* Google Material Design 스타일 적용 */
.writing-page {
    max-width: 800px;
    min-height: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filter-combo {
    flex-grow: 1;
}

.input-field {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 1rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #F2A74B;
    outline: none;
}

.input-field::placeholder {
    font-size: 14px;
    color: #999; /* 필요에 따라 플레이스홀더의 색상도 조정할 수 있습니다 */
}

.submit-button {
    width: 100px;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    background-color: #D98236;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.submit-button:hover,
.submit-button:focus {
    background-color: #A64F1C;
}

.textarea-content {
    height: 200px;
    width: 100%;
    resize: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s ease;
}

.button-container {
    display:flex;
    justify-content: flex-end; 
    padding: 1rem;  
}

.rating {
    display : flex;
    flex-direction : column;
}

.rate-title {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #888; /* 어두운 회색조 */
    margin-left:10px;
    margin-bottom: 8px; /* 적절한 여백 */
    display: block; /* 블록 요소로 만들어 여백과 정렬을 관리하기 쉽게 함 */
    text-align: left; /* 왼쪽 정렬 */
}

.user-container {
    display : flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20px;
}

.input-field-small {
    width : 180px;
    height: 30px;
    font-size: 14px;
}

.message {
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
    padding: 0.4em; /* 내부 여백 추가 */
    margin: 0.5em 0; /* 위아래 마진 조정 */
    text-align: center; /* 메시지 텍스트를 중앙 정렬 */
    color: #4CAF50; /* 메시지의 색상 */
    background-color: #EBF6F7; /* 배경 색상 */
    border-left: 5px solid #4CAF50; /* 왼쪽 테두리에 녹색 선 추가 */
    border-radius: 5px; /* 테두리 둥글게 */
    font-weight: bold; /* 글꼴 굵게 */
    width: 50%; /* 부모 컨테이너의 전체 너비를 차지하도록 설정 */
    margin-top: 5px; /* 상단 여백 추가 */
    display: block; /* 블록 레벨 요소로 설정 */
    margin-left:350px;
}
  